body,
html {
    height: 100%;
    margin: 0;
}

.wrapper {
    display: flex;
    min-height: 100vh;
}

.sidebar {
    width: 250px;
    background-color: #f8f9fa;
    padding-top: 20px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
}

.sidebar .nav-link {
    color: #333;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 20px;
}

.sidebar .nav-link.active {
    background-color: #e9ecef;
}

.menu-icon {
    margin-right: 10px;
}

.content {
    flex-grow: 1;
    padding: 20px;
    margin-left: 250px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff;
    border-bottom: 1px solid #dee2e6;
    position: fixed;
    width: calc(100% - 250px);
    top: 0;
    left: 250px;
    z-index: 1000;
}

.header h4 {
    margin: 0;
}

.table-responsive {
    margin-top: 100px;
    overflow: auto;
    height: calc(100vh - 170px);
    /* Adjust height to accommodate fixed header and pagination */
}

.table-responsive table {
    width: 100%;
    border-collapse: collapse;
}

.fixed-table th,
.fixed-table td {
    width: 150px;
    white-space: nowrap;
}

.fixed-table th {
    position: sticky;
    top: 0;
    background-color: #f8f9fa;
    z-index: 500;
}

.pagination-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    position: fixed;
    bottom: 0;
    width: calc(100% - 270px);
    right: 0;
    background-color: #fff;
    padding: 10px 0;
    box-shadow: none;
    /* box-shadow: 0 -2px 5px rgba(0,0,0,0.1); */
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 10px;
}

.pagination button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.pagination button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

.pagination button:hover:not(:disabled) {
    background-color: #0056b3;
}

.pagination span {
    margin: 0 10px;
}

.filters .btn {
    margin-right: 10px;
}

.btn-link {
    margin-right: 4px;
    padding: 0;
    vertical-align: auto;
}

.page-size-options {
    margin-right: 50px;
}

.user-info {
    margin-bottom: 10px;
    font-weight: bold;
}

.btn-link {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.btn-link:hover {
    text-decoration: underline;
}

.alert-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.alert {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}